.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
analyses_cache/
manuscript.aux
manuscript.out
manuscript.tex
manuscript.log
manuscript_cache/
data/data_imputed.csv
data/data_long.csv
data/data_raw.csv
data/privacy-longitudinal-study_data_2019-08-27.csv
data/privacy-longitudinal-study_data_2019-10-10.csv
data/data_wide.csv
data/data_wide_all.csv
data/data.csv
data/archive
data/workspace.RData