.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
analyses/analyses_cache/
analyses/.aux
analyses/.out
analyses/.txt
manuscript/manuscript.aux
manuscript/manuscript.out
manuscript/manuscript.tex
manuscript/manuscript.log
manuscript/.Rhistory
manuscript/manuscript_cache
manuscript/manuscript_files
data/data_imputed.csv
data/data_long.csv
data/data_raw.csv
data/privacy-longitudinal-study_data_2019-08-27.csv
data/privacy-longitudinal-study_data_2019-10-10.csv
data/data_wide.csv
data/data_wide_all.csv
data/data.csv
data/archive
data/workspace.RData